@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
}

::-moz-selection {
  background: transparent;
  text-shadow: 0px 0px 2px #d9d9d9;
}

::selection {
  background: transparent;
  text-shadow: 0px 0px 2px #d9d9d9;
}

.bg-home {
  background-image: url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  background-image: url("../assets/dottedBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-footer {
  background-image: url("../assets/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-circumcircle {
  background-image: url("../assets/circumcircleBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-circle {
  background-image: url("../assets/circle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.common-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-nav {
  background-image: url("../assets/nav-bg.png");
}
.bg-pink-noise {
  background-image: url("../assets/pink-noise.png");
}
.bg-green-noise {
  background-image: url("../assets/green-noise.png");
}
.bg-purple-noise {
  background-image: url("../assets/purple-noise.png");
}
.bg-gray-noise {
  background-image: url("../assets/gray-noise.png");
}
.bg-orange-noise {
  background-image: url("../assets/orange-noise.png");
}
.bg-blue-noise {
  background-image: url("../assets/blue-noise.png");
}

.bank {
  background-image: url("../assets/bank.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clock {
  background-image: url("../assets/clock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lock {
  background-image: url("../assets/lock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-bg {
  background-image: url("../assets/logoBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

.nav-ele-bg {
  height: 100px;
}

.nav-ele-bg:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.12) 10.8%,
    rgba(255, 255, 255, 0) 97%
  );
  backdrop-filter: blur(15px);
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}
.nav-ele-bg:nth-child(3) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.12) 10.8%,
    rgba(255, 255, 255, 0) 97%
  );
  backdrop-filter: blur(15px);
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}

.nav-ele-bg:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.12) 10.8%,
    rgba(255, 255, 255, 0) 97%
  );
  backdrop-filter: blur(15px);
  clip-path: polygon(0 0, 75% 0, 100% 100%, 30% 100%);
}

.nav-absolute-ele {
  background: #222224;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.nav-ele-bg:nth-child(4) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 14.11%,
    rgba(255, 255, 255, 0.1) 126.47%
  );
  backdrop-filter: blur(15px);
}

.nav-ele-bg:nth-child(4) {
  clip-path: polygon(-22% 0, 125% 0, 100% 100%, 0% 100%);
}

.nav-ele-bg:nth-child(5) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10.8%,
    rgba(255, 255, 255, 0.12) 97%
  );
  backdrop-filter: blur(15px);
  clip-path: polygon(23% 0, 100% 0, 75% 100%, 0 100%);
}
.nav-ele-bg:nth-child(6) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10.8%,
    rgba(255, 255, 255, 0.12) 97%
  );
  backdrop-filter: blur(15px);
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
}

.nav-ele-bg:nth-child(7) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10.8%,
    rgba(255, 255, 255, 0.12) 97%
  );
  backdrop-filter: blur(15px);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.desc-con {
  clip-path: polygon(95% 0, 100% 26%, 100% 100%, 0 100%, 0 0);
}

.card-clip {
  clip-path: polygon(80% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
}
